{% extends 'base.html' %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="brown-text center">Spielleiter Schirm</h1>
            <p class="brown-text lighten-2 center">Hier sind alle nützlichen Informationen auf einen Blick!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card brown lighten-4">
                    <div class="card-content brown-text">
                        <span class="card-title">Nicht-Spieler Charaktere</span>
                        <p>Hier gehts zu den NPCs</p>
                    </div>
                    <div class="card-action">
                        <a class="brown-text lighten-4"  href="/npc">Zu den NPCs</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="card brown lighten-4">
                    <div class="card-content brown-text">
                        <span class="card-title">Nicht-Spieler Charaktere</span>
                        <p>Hier gehts zu den NPCs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}